# Force la compilation/téléchargement des modules natifs pour Electron, pas pour Node système.
# Mettre à jour target= lors d'une mise à jour d'Electron.
runtime=electron
target=35.7.5
disturl=https://electronjs.org/headers
dist_url=https://electronjs.org/headers
